*{margin:0;
    padding: 0;}
a{
    color:white;
}
.buttons{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; /* Makes elements stack top-down */
}
#front {
    position: relative;
    width: 100%;
    height: auto; /* Dynamically adjusts height */
}
#aboutme {
    position: relative;
    margin: 0; /* Reset margins */
    top: 0;
    left: 0;
    transform: none; /* Remove unwanted transforms */
}
@font-face {
  font-family: "furore";
  src: url("Fonts/Furore-webfont.woff") format('woff');
}
@font-face {
    font-family: "expletus-sans-bold";
    src: url("Fonts/ExpletusSans-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "expletus-sans";
    src: url("Fonts/ExpletusSans-Regular.ttf") format('truetype');
}
.gray{
    background-color: #1d1d1d; /* #1d1d1d; 6d404091*/
}
#textportfolio {
    box-sizing: border-box; /* Or content-box */
}
@media only screen and (max-width: 1800px) {
 #scrollportfolio {
    transform: translate(-1vw, -0vw);
 }
}
@media only screen and (max-width: 1500px) {
    #scrollportfolio {
       transform: translate(-2.5vw, -2vw);
    }
}
@media only screen and (max-width: 1400px) {
    #scrollportfolio {
       transform: translate(-2.5vw, -4vw);
    }
}
@media only screen and (max-width: 1300px) {
    #scrollportfolio {
       transform: translate(-2.5vw, -7vw);
    }
}
@media only screen and (max-width: 1200px) {
    #scrollportfolio {
       transform: translate(-4.5vw, -10vw);
    }
}
@media only screen and (max-width: 1000px) {
    #scrollportfolio {
       transform: translate(-7.5vw, -16vw);
    }
}
@media only screen and (max-width: 900px) {
    #scrollportfolio {
       transform: translate(-9.5vw, -20vw);
    }
}
@media only screen and (max-width: 800px) {
    #scrollportfolio {
       transform: translate(-12.5vw, -27vw);
    }
}
@media only screen and (max-width: 700px) {
    #scrollportfolio {
       transform: translate(-14.5vw, -32vw);
    }
}
@media only screen and (max-width: 600px) {
    #scrollportfolio {
       transform: translate(-18vw, -39vw);
    }
}
@media only screen and (max-width: 550px) {
    #scrollportfolio {
       transform: translate(-21vw, -44vw);
    }
}
@media only screen and (max-width: 500px) {
    #scrollportfolio {
       transform: translate(-21vw, -49vw);
    }
}
@media only screen and (max-width: 400px) {
    #scrollportfolio {
       transform: translate(-145vw, -25vw);
    }
}
@media only screen and (max-height: 900px) {
    #verticalscroll {
        transform: translateY(7vh);
     }
}
@media only screen and (max-height: 750px) {
    #verticalscroll {
        transform: translateY(15vh);
     }
}
@media only screen and (max-height: 675px) {
    #verticalscroll {
        transform: translateY(20vh);
     }
}
@media only screen and (max-height: 600px) {
    #verticalscroll {
        transform: translateY(26vh);
     }
}
@media only screen and (max-height: 535px) {
    #verticalscroll {
        transform: translateY(35vh);
     }
}
@media only screen and (max-height: 475px) {
    #verticalscroll {
        transform: translateY(45vh);
     }
}
@media only screen and (max-height: 455px) {
    #verticalscroll {
        transform: translateY(60vh);
     }
}